.features {
  padding: 5rem 0;

  &__content {
    display: flex;
    @extend %flex-center;
    flex-wrap: wrap;
  }

  &__case {
    text-align: center;
    // flex: 0 0 30rem;
    flex: 1 30%;
    margin: 0 2rem;
    padding: 2rem 0;
    max-width: 40rem;
    font-size: clamp(1.6rem, 1vw, 1.8rem);

    @media only screen and (max-width: 50rem) {
      flex: 1 80%;
    }
    h2 {
      font-size: clamp(1.6rem, 2vw, 2rem);
      text-transform: uppercase;
    }
    i {
      font-size: 6rem;
      color: $primary-color;
      @media only screen and (max-width: 50rem) {
        font-size: 4rem;
      }
    }
  }
}
