@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@400;500&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $Raleway;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  // width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: $primary-color;
  text-transform: uppercase;
  font-size: 1.6rem;
  padding: 1rem 4rem;
}

%flex-center {
  justify-content: center;
  align-items: center;
}

%flex-sb {
  justify-content: space-between;
  align-items: center;
}

%flex-sa {
  justify-content: space-around;
  align-items: center;
}
